{% extends 'carritos/base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock links %}
{% load humanize %}
{% block content %}
<div class="card-deck">
  {% for post in publicacion %}
        <div class="card text-white bg-dark mb-3">
          <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
  
          {% if post.upload %}
                  <img class="card-img" src="{{post.upload.url}}" alt="imagen-producto" />
          {% endif %}
          <h2> Precio {{ post.price }}</h2>
          <p>{{ post.text|linebreaksbr }}</p>
      </div>
      {% endfor %}
</div>
{% endblock %}