{% extends 'carritos/base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/letras.css' %}">
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock links %}


{% block content %}


  <div id="promocion-text" class=" container bg-dark mb-3">
    <h5 id="promocion-text">¡Tsundoku ofrece los mangas más emocionantes del momento!
      Descubre nuevas historias y personajes fascinantes y haz tu pedido ahora para ser uno de los primeros en disfrutar
      de
      estas increíbles historias. ¡No te pierdas la oportunidad de elegir Tsundoku para tus compras de manga!</h5>
    <p>Por el momento, solo hay retiro en tienda.</p>
  </div>

  <div class="row gx-4 gx-lg-5 row-cols-12 row-cols-md-3 row-cols-xl-4 justify-content-center">
    {% for publi in publicacion %}
    <div class="card col-mb-5 text-white bg-dark mb-3">
      <div class=" producto" id="producto{{publi.pk}}">
        <h5 class="text_center"><a href="{% url 'publicacion_detail' pk=publi.pk %}">{{ publi.title }}</a></h5>
        {% if publi.upload %}
        <img id="imagenprod" class="card-img text-center imagen-ajustada " src="{{publi.upload.url}}" alt="imagen-producto" />
        {% endif %}
        <h6 id="precio" class=" text-center"> Precio ${{ publi.price }}</h6>
        <p>{{ publi.text|linebreaksbr }}</p>

        <button class="btn btn-primary" type="button"
          onclick="agregarAlCarrito('{{publi.pk}}', '{{publi.title}}', {{publi.price}})">Agregar</button>
        <button class="btn btn-danger" type="button" onclick="eliminarDelCarrito('{{publi.pk}}')">Descartar</button>
      </div>
    </div>
    {% endfor %}
  </div>



  <div id="cardCarrito">

    <div id="carritoText" class="card mb-3 bg-dark">
      <div class="row no-gutters">
        <div class="col-md-4 mx-auto ">
          <img src="{% static 'img/carritologo.png' %}" alt="carrito" class="card-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-header">Carrito</h1>
            <ul id="carrito" class="card-text text-light"></ul>
            <p class="card-text text-warning">Total: $<span class="text-light" id="total"></span></p>
            <div class="btn-group">
              <button class="btn btn-primary" type="button" onclick="vaciarCarrito()">Vaciar carrito</button>
              <button id="pagar" class="btn btn-primary mr-2" type="button" onclick="pagarCarrito()">Pagar
                Total</button>
              <a id="pagar_total" href="{% url 'pago' %}"></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

{% endblock %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="{% static 'js/carrito.js' %}"></script>
{% endblock script %}