{% extends 'carritos/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/letras.css' %}">
{% endblock links %}




{% block content %}
</div>
<div id="bloque" >
    <div class="card text-white bg-dark mb-3">
        {% if post.upload %}
        <img class="card-img text-center" src="{{post.upload.url}}" alt="imagen-producto" />
        {% endif %}

        <h2 class="text-center">{{ post.title }}</h2>
        <p>{{ post.descripcion|linebreaksbr }}</p>
        <h4 class="text-center">{{ post.price }} $</h4>
    </div>
</div>
{% if user.is_authenticated %}
    <div class="card text-white bg-dark mb-3">
        <button type="button" class="btn btn-primary text-center"><a
                href="{% url 'post_edit' pk=post.pk %}">Editar</a></button>
        <button type="button" class="btn btn-primary text-center"><a
                href="{% url 'eliminar_post' pk=post.pk %}">Borrar</a></button>
    </div>
{% endif %}
<div>
    {% endblock %}