{% extends 'carritos/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock links %}




{% block content %}
</div>
<img src="{% static 'img/subida.png' %}" alt="carrito" class="card-img">

<div id="subida" >
  <div id="contenedor-tamaño bg-white" >
    <div id="contenedor_subida" class="container text-center bg-info h-75">
      <form id="formulario" method="POST" enctype="multipart/form-data" class="col-md-6-center post-form">
        <div class="form-group">
            <h2>Insertar Datos:</h2>

                        {% csrf_token %}
                        {{ form.as_p }}

            <button type="button" class="btn btn-secondary text-white">Close</button>
            <button id="enviar" type="submit" value="Submit" class="btn btn-primary text-white">Save changes</button>
      </form>
    </div>
</div>
{% endblock %}