{% extends 'carritos/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/letras.css' %}">
{% endblock links %}




{% block content %}
</div>
<div class="row justify-content-md-center">
    <div class="card col-md-4 mx-auto">
        {% if post.upload %}
                    <img class="card-img text-center imagen-ajustada " src="{{post.upload.url}}" alt="imagen-producto" />
            {% endif %}
    
        <h2 class="text-center">{{ post.title }}</h2>
        <p>{{ post.descripcion|linebreaksbr }}</p>
        <h4 class="text-center">{{ post.price }} $</h>
    </div>
</div>
{% if user.is_authenticated %}
    <div class="row justify-content-md-center">
        <div class="card">
            <button type="button" class="btn btn-primary text-center" ><a href="{% url 'post_edit' pk=post.pk %}">Editar</a></button>
            <button type="button" class="btn btn-primary text-center" ><a href="{% url 'eliminar_post' pk=post.pk %}">Borrar</a></button>
        </div>
    </div>
    {% endif %}
<div>
{% endblock %}